
body {
  margin: 0;

}

/* Header */

header {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  /*margin: 0;*/

  width: 100%;
  background-color: yellow;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  border: 1px solid black;
  flex-grow: 2;
  padding-left: 27px;
}

.logo h4 {
  margin-left: 14px;
}

nav {
  padding-right: 30px;
}

nav span {

  margin: 12px;

}

nav a {
  color: inherit;
}

/* Main */

.main .container {
  display: flex;

  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: black;

  width: 1254px;
  margin: 0 auto;
  position: relative;
  top: 80px;

}

.main .column {
  display: flex;
  border: 2px solid black;
  flex-direction: column;


}

.large {
  flex: 0 0 630px;
  margin: 24px 12px 0 0;

}

.medium {
  flex: 0 0 300px;
  margin: 24px 12px 0;
}

.small {
  flex: 0 0 240px;
  margin:24px 24px 0 12px;
}

.main .box {
  border: 1px solid black;
}

.bg_img {
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

  text-align: center;

  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;

}

.bg_img.main-story {
  background-image: url("/Users/yiukitling/documents/projects/MyTimes/resources/images/main-story.png");
  text-align: left;
  font-size: 40px;

}

.bg_img.main-story span {
  margin-left: 10px;
}

.bg_img.fall-season {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

}

.bg_img.hipster-cameraman {
  background-image: url("/Users/yiukitling/documents/projects/MyTimes/resources/images/hipster-cameraman.png");
}

.bg_img.cat-ceo {
  background-image: url("/Users/yiukitling/documents/projects/MyTimes/resources/images/cat-ceo.png");
}

.box p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.uppercase {
  text-transform: uppercase;
}
