
body {
  margin: 0;

}

/* Header */

header {
  display: flex;
  align-items: center;

  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;


  width: 100%;

  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;

  flex-grow: 2;
  padding-left: 27px;
}

.logo h4 {
  margin-left: 14px;
}

nav {
  padding-right: 30px;
}

nav span {

  margin: 12px;

}

nav a {
  color: inherit;
}

/* Main */

.main .container {
  display: flex;

  width: 1230px;
  margin: 0 auto;
  position: relative;
  top: 80px;

  padding-top: 24px;

}

.column {
  display: flex;

  flex-direction: column;
}

.large {
  flex: 0 0 630px;

}

.medium {
  flex: 0 0 300px;
  margin: 0 24px;

}

.small {
  flex: 0 0 240px;

}

.box {

  display: flex;
  flex-direction: column;


}

.stories {
  display: flex;
  justify-content: space-between;

}

.stories .box {
  width: 300px;

}

.box h2 {
  margin-bottom: 0;
}

p {
  margin-bottom: 50px;
}

.stories .bg_img {
  margin-top: 50px;

}

.bg_img {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

  text-align: center;

  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;

}

.bg_img.main-story {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  text-align: left;
  font-size: 40px;

}

.bg_img.main-story span {
  margin-left: 10px;
}

.bg_img.fall-season {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

}

.bg_img.hipster-cameraman {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.bg_img.cat-ceo {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.box p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

/* News Bites */

.small .box {
  align-items: center;

}

.small h3 {
  font-size: 16px;
  font-weight: bold;
}


ul {
  list-style-type: none;
  padding: 0;

  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;

  /*display: flex;
  flex-direction: column;
  justify-content: space-around;*/

}

li {
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

/* Footer */

footer {


  background-color: MediumAquamarine;
  position: relative;
  top: 150px;

  height: 325px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Verdana;
  font-size: 12px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.test {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;

  border-right: 2px solid white;
  padding-right: 25px;
  margin-right: 25px;

  display: inline-block;
}

.info nav {
  display: inline-block;

}
